

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
html {
    /* start */
    font-size: 62.5%;
    line-height: 1.6rem;

    font-family: 'Roboto', sans-serif;
    /* end */
    
}

body {
    margin: 0;

}

:root {
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --mota-color:rgb(148, 146, 146);
    --note-color:#4F5554;
    --blu-color:#304CFD;
    --primery:rgb(228,241,242);
    --color-img:142.17deg,#3086FF 6.66%,#304CFD 91.48%;
   
}

@keyframes chart {
    from {
        opacity: 0;
        width: calc( var(--percent) - 50%);
    }

    to {
        opacity: 1;
        width: var(--percent);
    }
}

/* tablet vs mobile */

@media (max-width:63.9375em) { 
    /* header */
    .intro {
        flex-direction: column;
        align-items: start;
    }
    .navigation__list {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: unset;
        padding: 1rem;
    }
}

/* tablet */

@media  (min-width:46.25em) and (max-width:63.9375em) { 
    /* header */
    .intro {
        flex-direction: column;
        align-items: start;
    }
   
    .intro-contact {
        margin: 3rem 3rem 3rem 0;
        display: flex;

    }

    .self-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
     /* nut bam */
     .navigation__list {
      
        justify-content: space-evenly;
        padding: 1rem;
    }
    .navigation-item {
        height: 8rem;
        margin-top: unset;
        padding: 1rem;
    }
}


/* mobile */

@media (max-width:46.1875em) {
    main {
        overflow: hidden;
    }
    /* header */
    .intro {
        padding: 1rem;
    }

    .intro-user__name-ctu-img {
        top: -5px;
    }
   
    .intro-user__name-ten {
        font-size: 2rem;
        padding: 0 1rem;
    }

    .intro-user__name-position {
        padding: 0 1rem;
    }

    .intro-user {
        flex-direction: column;
        /* align-items: center; */
        width: 100%;
    }
    .intro-contact {
        width: unset;
    }
    .navigation__list {
     
        width: 100%;
        justify-content: space-around;
    }
    .navigation-item {
        height: 8rem;
        margin-top: unset;
        padding: unset;
    }

  
    /* ban than */
      
        .self-item-body-img {
            width: 100%;
        }
}

